liberex/src/main/resources/schemas/WS_AdminService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService"
    xmlns:ss="urn:example.com:liberex:v1"
    targetNamespace="urn:example.com:liberex:v1">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:example.com:liberex:v1" schemaLocation="WS_Messages.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetSystemStatusRequest">
        <wsdl:part element="ss:GetSystemStatusRequest" name="GetSystemStatusRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSystemStatusResponse">
        <wsdl:part element="ss:GetSystemStatusResponse" name="GetSystemStatusResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ExecuteProgramRequest">
        <wsdl:part element="ss:ExecuteProgramRequest" name="ExecuteProgramRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ExecuteProgramResponse">
        <wsdl:part element="ss:ExecuteProgramResponse" name="ExecuteProgramResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AdminService">
        <wsdl:operation name="GetSystemStatus">
            <wsdl:input message="ss:GetSystemStatusRequest" name="GetSystemStatusRequest">
            </wsdl:input>
            <wsdl:output message="ss:GetSystemStatusResponse" name="GetSystemStatusResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExecuteProgram">
            <wsdl:input message="ss:ExecuteProgramRequest" name="ExecuteProgramRequest">
            </wsdl:input>
            <wsdl:output message="ss:ExecuteProgramResponse" name="ExecuteProgramResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdminServiceSoap11" type="ss:AdminService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetSystemStatus">
            <soap:operation soapAction="urn:example.com:liberex:v1/GetSystemStatus" />
            <wsdl:input name="GetSystemStatusRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetSystemStatusResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExecuteProgram">
            <soap:operation soapAction="urn:example.com:liberex:v1/ExecuteProgram" />
            <wsdl:input name="ExecuteProgramRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="ExecuteProgramResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdminServiceService">
        <wsdl:port binding="ss:AdminServiceSoap11" name="AdminServiceSoap11">
            <soap:address location="http://host/sys/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
